body {
  font-family: arial, sans-serif;

  background-image: url("https://i.pinimg.com/originals/3e/0e/21/3e0e212843311519cfd4e8b6e7d56bbe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #2001a0;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #2001a0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.btn {
  color: #9e81e0;
  background-color: #2001a0;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.title {
  padding: 10px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #7ee300;
  margin-bottom: 10px;
  text-align: center;
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
  font-size: 25px;
  color: #2001a0;
}

.weather-app {
  padding: 10px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #7ee300;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #2001a0;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.footer-1 {
  color: #9ec2dc;
}

.forecast {
  padding: 10px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #7ee300;
  margin-top: 10px;
  text-align: center;
}

.weather-forecast-day {
  font-size: 12px;
  color: #2001a0;
}

.weather-forecast-temp {
  font-size: 12px;
  color: #2001a0;
}

li {
  display: inline;
}
